#trending{
    position:absolute;
    top:85px;
    left: 14%;
    width: 615px;
    display: flex;
    flex-direction: column;
}
#trending .row{
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
#trending .row>.item{
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
}
#trending .row>.item:hover #hover{
    display: block;
}
#trending .row>.item>#hover{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    background-color: rgba(0,0,0,0.4);
    font-size: 14px;
    display: none;
}
#trending .row>.item>#hover>#username{
    color: white;
    margin-top: 8px;
    margin-left: 10%;
}
#trending .row>.item>#hover>img{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
}
#trending .row>.item>#hover>#caption{
    width: 80%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    margin-top: 10px;
}
#trending .row>.item>#hover>#status{
    bottom: 10px;
    left: 10%;
    position: absolute;
    display: flex;
    color: white;
}
#trending .row>.item>#hover>#status>.pack{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
#trending .row>.item>#hover>#status>.pack>span{
    margin-left: 5px;
}
#trending .row>.item>#hover>#status>.pack>img{
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 20px;
    padding: 3px;
}
#trending .row>.item>img{
    width: 100%;
}