#trending{
    position:absolute;
    top:85px;
    left: 14%;
    width: 70%;
    display: flex;
    flex-direction: column;
}
#trending>#title{
    display:flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,1);
    width: 120px;
    padding: 5px;
    border-radius: 5px;
}
#trending>#title>img{
    height: 18px;
    width: 18px;
    margin-right: 5px;

}
#trending #container{
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#trending #container>.item{
    position: relative;
    height: 200px;
    margin-right: 10px;
    margin-bottom:10px;
    background-color: transparent;
}
#trending #container>.item:hover #hover{
    display: block;
}
#trending #container>.item>#hover{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    background-color: rgba(0,0,0,0.4);
    font-size: 14px;
    display: none;
}
#trending #container>.item>#hover>#username{
    color: white;
    margin-top: 8px;
    margin-left: 10%;
}
#trending #container>.item>#hover>img{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
}
#trending #container>.item>#hover>#caption{
    width: 80%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    margin-top: 10px;
}
#trending #container>.item>#hover>#status{
    bottom: 10px;
    left: 10%;
    position: absolute;
    display: flex;
    color: white;
}
#trending #container>.item>#hover>#status>.pack{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
#trending #container>.item>#hover>#status>.pack>span{
    margin-left: 5px;
}
#trending #container>.item>#hover>#status>.pack>img{
    width: 20px;
    height: 20px;
}
#trending #container>.item>#content{
    width: 100%;
}
#trending #container>.item>#content>#imagePost{
    width:100%;
}
#trending #container>.item>#content>#imagePost>img{
    height: 200px;
    border-radius: 2px;
}