#follow{
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}
#follow #profile{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#follow #profile>img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    padding: 5px;
    border: 2px solid orangered;
}
#follow #container{
    clear: both;
    margin-top: 30px;
    width: 25%;
    margin-left: 37.5%;
}
#follow #container>#head{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#follow #container>#head>div{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7px;
    width: 23%;
}
#follow #container .item{
    clear: both;
    height: 40px;
    width: 100%;
    margin-top: 15px;
}

#follow #container .item>img{
    float: left;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    padding: 3px;
    border: 2px solid crimson;
}
#follow #container .item>#pack{
    float: left;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 40px;
}
#follow #container .item>#pack>#username{
    font-size: 14px;
    font-weight: 600;
}
#follow #container .item>#pack>#foo{
    color:rgba(0,0,0,0.6)
}
#follow #container .item>#more{
    float: right;
    font-size: 14px;
    height: 40px;
    display: flex;
    align-items: center;
}
#follow #container .item>#more>span{
     box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
     padding: 3px 6px 3px 6px;
     border-radius: 2px;
}
#follow_message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#343148;
    margin-top: 80px;
}