#search_box{
    position: absolute;
    left: 28%;
    right: 28%;
    top: 85px;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2),-0 -0 1px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    overflow: hidden;
}
#search_box>.item{
    clear: both;
    width: 90%;
    margin:5px 5% 5px 5%;
    overflow: hidden;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
#search_box>.item>img{
    height: 31px;
    width: 31px;
    float: left;
    border-radius: 35px;
    padding: 2px;
    border: 2px solid #3897f0;
}
#search_box>.item>#pack{
    float: left;
    display: flex;
    flex-direction: column;
    margin-left: 15px;

}
#search_box>.item>#pack>#username{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
    letter-spacing: 0.2px;
}
#search_box>.item>#pack>#about{
    font-size: 16px;
    color: rgba(0,0,0,0.5);
}